@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans, sans-serif);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Removed fixed width */
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1.5rem;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
  color: #333;
}

.formContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

/* 全局消息和错误样式 */
.message {
  color: green;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
